/resources/public/js/compiled/**
/resources/test/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.cljs_rhino_repl/
.lein-deps-sum
.lein-plugins/
.lein-repl-history
.nrepl-port
.repl
